mat-card {
  max-width: 400px;
  margin: 2em auto;
  z-index: 1;
}

mat-form-field {
  display: block;
}

.mat-card-actions {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 0;
}

.container {

  background-repeat: repeat;
  position: fixed;
  width: 100%;
  height: 100%;
}

.vertical-center {
  margin-top: 20vh;
}
