<div class="container">
  <p class="mat-display-1">{{ breed }}</p>
  <hr />
  <div class="breed-container">
    <span *ngFor="let breed of subBreeds"
      ><mat-card>
        <mat-card-header>
          <mat-card-title>{{ breed.displayName }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ breed.img }}" style="margin: auto" />
        <mat-card-actions>
          <button mat-raised-button color="primary">View</button>
        </mat-card-actions>
      </mat-card></span
    >
  </div>
</div>
