<div class="container">
  <mat-form-field class="example-form-field" appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput type="text" [(ngModel)]="value" (input)="filter()" />
    <button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="value = '';filter();"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="container">
  <span *ngFor="let breed of filteredBreeds"
    ><button
      mat-raised-button
      color="secundary"
      type="submit"
      class="breed"
      [routerLink]="['/breed/' + breed.breed]"
    >
      {{ breed.breed }}
      <mat-icon style="margin-right: 8px">pets</mat-icon>
    </button></span
  >
</div>
